body {
    /* background: #ccc; */
}

.App {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
    
}

/* div.slick-slide.slick-active{

    width: 300px !important;

} */

.card {
    border: 1px solid #fff;
    background: fff;
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-shadow: 5px 10px #888888;
    border-radius: 0px;
    overflow: hidden;

    height: 500px;
    width: 400px;
    color: black;
}

.card-button{
    
        padding: 5px 20px;
        display: block;
        margin: 20px auto 0;
        margin-bottom: 10px;
        font-size: 18px;
        color: white;
        background-color: black;
    
    

}

.card-button:hover{
    background-color: grey;
    transition: all 0.2s ease-out;
}

.card-top h1 {
    font-size: 1rem;
}

.card-top h1 {
    font-size: 1rem;
    font-weight: bold;
}

.card-top img {
    border-radius: 0;
}

.card-top>img {
    margin: auto;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.card-bottom h3 {
    font-size: 1rem;
}

.category {
    position: relative;
    font-size: 0.7rem;
}

.category::before {
    content: '';
    background: rgb(0, 0, 0);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
}