.login-container{
    margin: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: red;
}

.login-label{
    display: flex;
    text-align: left;
    align-items: left;
    justify-content:left;
    padding: 0.25rem 0;
}

.login-form-container{
    background-image: linear-gradient(79deg, #000000, #aaaaaa 48%, #888888, #444444);
    padding: 20px;
    border-width:2px;
    border-style:solid;
    border-color:white;
    border-radius: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input{
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    min-width: 300px;
}

.login-btn{
    margin: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.link-btn{
    background: none;
    cursor: pointer;
    color: white;
    border: transparent;
    text-decoration: underline;
}

.login-btn:hover{
    background-color: black;
    color:white;
}